<div [hidden]="operation === 'create' && field.isId" [formGroup]="form">
  <div [ngSwitch]="field.type">

    <div *ngSwitchCase="'string'" class="mb-4">
      <label [htmlFor]="field.key" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
      <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
             [formControlName]="field.key" [id]="field.key"
             [readonly]="operation == 'details' || field.isId">
    </div>

    <div *ngSwitchCase="'number'" class="mb-4">
      <label [htmlFor]="field.key" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
      <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
             [formControlName]="field.key" [id]="field.key"
             [readonly]="operation == 'details' || field.isId"
             type="number">
    </div>

    <div *ngSwitchCase="'date'" class="mb-4">
      <label [htmlFor]="field.key" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
      <input type="date" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
             [formControlName]="field.key" [id]="field.key"
             [readonly]="operation == 'details'">
    </div>

    <div *ngSwitchCase="'checkbox'" class="mb-4 flex items-center">
      <input type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
             [formControlName]="field.key" [id]="field.key">
      <label [htmlFor]="field.key" class="ml-2 block text-sm font-medium text-gray-700">{{ field.label }}</label>
    </div>

    <div *ngSwitchCase="'select'" class="mb-4">
      <label [htmlFor]="field.key" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
      <ng-select [items]="field.data"
                 [bindLabel]="field.labelValue"
                 [bindValue]="field.keyValue"
                 [formControlName]="field.key"
                 [id]="field.key"
                 [readonly]="operation == 'details'"
                 class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
      </ng-select>
    </div>

    <div *ngIf="form.get(field.key).hasError('required') && (submitted || form.get(field.key).touched)"
         class="mt-2 text-sm text-red-600">
      {{ field.label }} is required.
    </div>

  </div>
</div>
