<div class="flex justify-between mb-4">
  <h1 class="text-lg font-semibold">Permisos</h1>
  <button *ngIf="mostrarCreate" routerLink="/app/permisos/create"  type="button" class="btnazul w-48 w-full text-white focus:ring-4 focus:outline-none font-medium rounded-full  px-2.5 py-2.5 text-center" > Agregar + </button>
  <!--<app-btn *ngIf="mostrarCreate" typeBtn="submit" color="primary" [customIcon]="'faPlus'" routerLink="/app/permisos/create">Agregar</app-btn>-->
</div>
<form [formGroup]="form" class="mb-8">
  <div class="grid grid-cols-1 sm:grid-cols-4 gap-2">
    <div>
      <label for="table-filtering-search" class="block text-xs font-medium text-gray-700">Filtrar:</label>
      <input (keyup)="Buscar()" id="table-filtering-search" formControlName="filter"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50"
        type="text" />
    </div>
  </div>
</form>
<div *ngIf="algo">
  <p-table [value]="data" [paginator]="true" [rows]="this.pageSize" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }" [lazy]="true" [totalRecords]="collectionSize"
    (onLazyLoad)="refreshGrid($event)" [rowsPerPageOptions]="[5,10,15,20]">
    <ng-template pTemplate="header">
      <tr class="bg-gray-50">
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rol</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre módulo</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consultar</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Agregar</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Editar</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Borrar</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Imprimir</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-credencial let-rowIndex="rowIndex">
      <tr [class.bg-gray-200]="rowIndex % 2 === 0">
        <td class="px-6 py-4 whitespace-nowrap w-64">{{credencial.rol.rolName}}</td>
        <td class="px-6 py-4 whitespace-nowrap w-64">{{credencial.module.moduleName}}</td>
        <td class="px-6 py-4 whitespace-nowrap w-64">{{credencial.listed}}</td>
        <td class="px-6 py-4 whitespace-nowrap w-64">{{credencial.created}}</td>
        <td class="px-6 py-4 whitespace-nowrap w-64">{{credencial.edited}}</td>
        <td class="px-6 py-4 whitespace-nowrap w-64">{{credencial.deleted}}</td>
        <td class="px-6 py-4 whitespace-nowrap w-64">{{credencial.printed}}</td>
        <td class="px-6 py-4 whitespace-nowrap w-64">
          <a [routerLink]="['./edit', credencial.id]"
          class="flex items-center p-2 rounded-lg "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00cc00" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
          Editar</a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
