<form [formGroup]="form" class="space-y-6" (ngSubmit)="Login()">
  <!-- Full Name -->
  <div class="relative z-0 w-full mb-6 group">
    <input type="text" name="fullName" formControlName="fullName"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
      required />
    <label for="fullName"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600">Full
      Name</label>
  </div>

  <!-- Email -->
  <div class="relative z-0 w-full mb-6 group">
    <input type="email" name="email" formControlName="email"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
      required />
    <label for="email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600">Email
      Address</label>
  </div>

  <!-- Phone -->
  <div class="relative z-0 w-full mb-6 group">
    <input type="text" name="phone" formControlName="phone"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
      required />
    <label for="phone"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600">Phone</label>
  </div>

  <!-- Username -->
  <div class="relative z-0 w-full mb-6 group">
    <input type="text" name="userName" formControlName="userName"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
      required />
    <label for="userName"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600">Username</label>
  </div>

  <!-- Password -->
  <div class="relative z-0 w-full mb-6 group">
    <input type="password" name="password" formControlName="password"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
      required />
    <label for="password"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600">Password</label>
  </div>
  <!-- Confirm Password -->
  <div class="relative z-0 w-full mb-6 group">
    <input type="password" name="confirmPassword" formControlName="confirmPassword"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
      required />
    <label for="confirmPassword"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600">Confirm
      Password</label>
  </div>
  <div *ngIf="form.errors?.['mismatch'] && form.get('confirmPassword').touched" class="text-red-500 text-sm">
    Las contraseñas no coinciden.
  </div>
  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form>
