<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-4">
  <form [formGroup]="form">

    <div *ngFor="let field of viewModelDefinition">
      <fw-dynamic-field [field]="field"
                        [form]="form"
                        [operation]="operation"
                        [submitted]="submitted">
      </fw-dynamic-field>
    </div>

    <div *ngIf="errorMessage" class="p-4 bg-red-100 text-red-700 border border-red-400 rounded">
      {{ errorMessage }}
    </div>

    <div *ngIf="statusDetail != 'loading'" class="mt-4">
      <div *ngIf="operation === 'details'" class="flex space-x-2">
        <app-btn typeBtn="button" color="red" [loading]="isLoading()" (click)="onBack()">Back</app-btn>
        <app-btn typeBtn="button" color="primary" [loading]="isLoading()" (click)="onEdit()">Edit</app-btn>
      </div>
      <div *ngIf="operation === 'edit'" class="flex space-x-2">
        <app-btn typeBtn="button" color="red" [loading]="isLoading()" (click)="onCancel()">Cancel</app-btn>
        <app-btn typeBtn="button" color="primary" [loading]="isLoading()" (click)="onSave()">Save</app-btn>
      </div>
      <div *ngIf="operation === 'create'" class="flex space-x-2">
        <app-btn typeBtn="button" color="red" [loading]="isLoading()" (click)="onBack()">Back</app-btn>
        <app-btn typeBtn="button" [loading]="isLoading()" color="primary" (click)="onCreate()">Create</app-btn>
      </div>
    </div>

    <div *ngIf="statusDetail === 'loading'" class="mt-4">
      Waiting...
    </div>

  </form>
</div>
