
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-6">
    <label for="userName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Name</label>
    <input formControlName="userName" type="userName" id="userName" class="shadow-sm bg-gray-50 border ... dark:shadow-sm-light" placeholder="name@flowbite.com" required>
    @if (this.field("userName").isInvalid())
    {
      <div>  class="text-red-600">User Name is required</div>
    }
    <div *ngIf="successMessage" class="text-blue-500 text-sm">
      {{successMessage}}
    </div>
    <div *ngIf="errorMessage" class="text-red-500 text-sm">
      {{errorMessage}}
    </div>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 ... dark:focus:ring-blue-800">Recover Password</button>
</form>


